@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Sevillana&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body.actice {
  overflow: hidden;
}

.filter.active {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0px 15px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: white;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav__ul {
  background: rgba(0, 0, 0, 0.6);
  gap: 18px;
  position: absolute;
  z-index: 11;
  left: -100%;
  padding: 15px;
  top: 0;
  width: 100%;
  max-width: 25vw;
  height: 100vh;
  transition: 2s;
}
@media (max-width: 768px) {
  nav .nav__ul {
    max-width: 50vw;
  }
}
nav .nav__ul .items {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .nav__ul a {
  width: 100px;
  display: inline-block;
  color: white;
  font-weight: 500;
  font-size: 20px;
  padding: 8px 0px;
}
nav .nav__ul a:hover {
  transition: 0.2s;
  color: gray;
}
nav .nav__ul.active {
  left: 0;
  transition: 0.8s;
}

.button__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.button__box .my-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__box .my-button .btn-elem {
  position: relative;
  width: 30px;
  height: 4px;
  background: #000;
}
.button__box .my-button .btn-elem::before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  top: -11px;
  background: #000;
}
.button__box .my-button .btn-elem::after {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  top: 11px;
  background: #000;
}

.button__box:hover .btn-elem {
  transition: 0.2s;
  background: #ff7c87;
}

.button__box:hover .btn-elem::before {
  transition: 0.2s;
  background: #ff7c87;
}

.button__box:hover .btn-elem::after {
  transition: 0.2s;
  background: #ff7c87;
}

.exit {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.exit .my-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exit .my-button .btn-elem {
  position: relative;
  width: 32px;
  height: 3px;
  background: transparent;
}
.exit .my-button .btn-elem::before {
  transform: rotate(45deg);
  position: absolute;
  content: "";
  display: block;
  width: 32px;
  height: 3px;
  top: 0;
  background: #fff;
}
.exit .my-button .btn-elem::after {
  transform: rotate(-45deg);
  position: absolute;
  content: "";
  display: block;
  width: 32px;
  height: 3px;
  top: 0;
  background: #fff;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border-radius: 30px;
  color: white;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  font-weight: 600;
  background-image: linear-gradient(to right, #f97e83, #e13690);
  padding: 18px 57px 19px;
  font-size: 16px;
}

.btn:hover {
  transform: translateY(-7px);
}

main {
  background: black;
  padding: 130px 0px 0px;
}
main .container {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  gap: 15px;
}
main .container .main__box {
  width: 40%;
}
main .container .main__box h1 {
  color: #e13690;
  font-size: 60px;
}
main .container .main__box p {
  color: white;
  margin-top: 30px;
  line-height: 1.8;
  font-size: 17px;
  font-style: normal;
}
main .container .main__box p a {
  border-bottom: 1px solid white;
  color: white;
}
main .container .main__box p a:hover {
  border-bottom: 1px solid #e13690;
}
main .container .main__box .main__btn {
  margin: 35px auto 0 0;
}
main .container .main__img {
  margin-top: 2%;
  width: 490px;
  height: 510px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #f97e83, #e13690);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .container .main__img img {
  position: absolute;
  top: -66px;
  width: 95%;
}

.about {
  background-image: linear-gradient(to right, #e13690, #f97e83);
  padding: 70px 0px 40px;
}
.about .about__h1 {
  font-size: 48px;
  text-align: center;
  color: white;
  line-height: 1.1;
  font-weight: 600;
}
.about .about__h1 span {
  display: inline-block;
}
.about .about__items {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  gap: 20px;
  justify-content: space-around;
}
.about .about__items .item {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 350px;
}
.about .about__items .item .item__head {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 600;
}
.about .about__items .item .item__head .item__num {
  font-size: 60px;
}
.about .about__items .item .item__head .item__name {
  font-size: 20px;
}
.about .about__items .item p {
  font-style: italic;
  font-size: 16px;
  line-height: 25px;
}
.about .about__p {
  font-size: 18px;
  line-height: 21px;
  color: white;
  margin-top: 80px;
  text-align: center;
}
.about .about__p a {
  color: white;
  border-bottom: 1px solid white;
}
.about .about__p a:hover {
  color: #f7859a;
  border-bottom: 1px solid #f7859a;
}/*# sourceMappingURL=style.css.map */